@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - MyApp</title>
    
    <link rel="stylesheet" href="/lib/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/css/buttons.css" />
    <link rel="stylesheet" href="/lib/css/svg-auth.css" />
    <link rel="stylesheet" href="/styles/default.css" />

    @Html.ImportMap(new() {
        ["@popperjs/core"]       = ("/lib/js/popper.js",               "/lib/js/popper.js"),
        ["bootstrap"]            = ("/lib/js/bootstrap.mjs",           "/lib/js/bootstrap.mjs"),
        ["vue"]                  = ("/lib/js/vue.mjs",                 "/lib/js/vue.min.mjs"),
        ["@servicestack/client"] = ("/lib/js/servicestack-client.mjs", "/lib/js/servicestack-client.min.mjs"),
        ["@servicestack/vue"]    = ("/lib/js/servicestack-vue.mjs",    "/lib/js/servicestack-vue.min.mjs")
    })
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">MyApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @* Defined in Configure.Ui.cs *@
                    @Html.Navbar()
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - MyApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>