@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var session = await GetSessionAsync();
}

<div class="text-center">
    <h1 class="display-4">Welcome @(session.IsAuthenticated ? $"{session.DisplayName}!" : "")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mt-5 text-center">
    <h3 class="display-6">Getting Started</h3>
    <p>
        If not created with <a href="https://docs.servicestack.net/dotnet-new">x new</a>, download 3rd Party deps with:
    </p>
    <pre class="fs-4">$ npm install</pre>
</div>

<div class="mt-5">
    <div class="mx-auto w-sm">
        <div class="">
            <input class="form-control" type="text" id="txtName" value="Razor Pages">
            <h4 id="result" class="my-4 text-success text-center">&nbsp;</h4>
        </div>

        <h4 class="fw-normal text-center">
            <a href="/ui/Hello">Call Hello</a> in API Explorer
        </h4>
    </div>
</div>

<script type="module">
import { $1, on } from "@@servicestack/client"
import { client } from "/js/default.mjs"
import { Hello } from "/js/dtos.mjs"

on("#txtName", {
    async input(e) {
        let api = await client.api(new Hello({ name:e.target.value }))
        $1('#result').innerHTML = api.response.result
    }
})
$1('#txtName').dispatchEvent(new Event('input'))
</script>
