@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mt-5 text-center">
    <h3 class="display-6">Getting Started</h3>
    <p>
        If not created with <a href="https://docs.servicestack.net/dotnet-new">x new</a>, download 3rd Party deps with:
    </p>
    <pre class="fs-4">$ npm install</pre>
</div>

<div class="mt-5 d-flex justify-content-center">
    <div class="w-sm">
        <h2><a href="/ui/Hello">Hello</a> API</h2>
        <input class="form-control" type="text" id="txtName">
        <h4 id="result" class="mt-4 text-success text-center"></h4>
    </div>
</div>

<script type="module">
import { $1, on } from "@@servicestack/client"
import { client } from "/js/default.mjs"
import { Hello } from "/js/dtos.mjs"

on("#txtName", {
    async keyup(e) {
        let api = await client.api(new Hello({ name:e.target.value }))
        $1('#result').innerHTML = api.response.result
    },
})
</script>
